@page "/"

<PageTitle>ATM</PageTitle>

<h1>Login</h1>

<p>Use the touchpad below to login.</p>

<div class="container">
    <div class="row">
        <div class="col-lg-3"><button class="btn btn-primary">1</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">2</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">3</button></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><button class="btn btn-primary">4</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">5</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">6</button></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><button class="btn btn-primary">7</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">8</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">9</button></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><button class="btn btn-primary">Back</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">0</button></div>
        <div class="col-lg-3"><button class="btn btn-primary">Enter</button></div>
    </div>
</div>